<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeswolf.badlock">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <package android:name="com.samsung.systemui.lockstar" />
        <package android:name="com.samsung.android.qstuner" />
        <package android:name="com.samsung.android.pluginrecents" />
        <package android:name="com.samsung.android.app.clockface" />
        <package android:name="com.samsung.android.multistar" />
        <package android:name="com.samsung.android.app.captureplugin" />
        <package android:name="com.samsung.systemui.notilus" />
        <package android:name="com.samsung.systemui.navillera" />
        <package android:name="com.samsung.android.edgelightingeffectunit" />
        <package android:name="com.samsung.android.sidegesturepad" />
        <package android:name="com.samsung.android.app.edgetouch" />
        <package android:name="com.samsung.android.app.goodcatch" />
        <package android:name="com.samsung.android.soundassistant" />
        <package android:name="com.samsung.android.themedesigner" />
        <package android:name="com.samsung.android.app.homestar" />
        <package android:name="com.samsung.android.pentastic" />
        <package android:name="com.samsung.android.wonderland.wallpaper" />
        <package android:name="com.samsung.android.keyscafe" />
        <package android:name="com.android.samsung.icebox" />
        <package android:name="com.android.samsung.batteryusage" />
        <package android:name="com.samsung.android.statsd" />
        <package android:name="com.samsung.android.appbooster" />
    </queries>

    <application
        android:name=".App"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>